body{
    background-image: url("images/harimau.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

.container {
    width: 30%;
    margin-top: 9%;
    box: 0 3px 20px blue;
    padding: 40px;
    background-color: #fff;
}